<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Block\Adminhtml\Order\Creditmemo\Create\Items"
                type="Bitpay\BPCheckout\Block\Adminhtml\Sales\Creditmemo\Create\Items" />
</config>
